<!DOCTYPE html>
<html>

<head>
  <link href="/CSS/navbar.css" rel="stylesheet" type="text/css">
</head>
<nav class="navigation" id="navigation">
  <div class="container">
    <div class="logo"><a href="https://aicgusec.org/"><img style="height: 30px; width: 100px;"
          src="/Assets/logo.png"></a>
    </div>
    <ul class="navigation-links">
      <li><a class="active" href="/">Home</a></li>
      <li>About</li>
      <li>Contact Us</li>
      <li class="active"><a class="active" href="/auth">Login</a></li>
      <a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">
        <i class="fa fa-bars"></i>
      </a>
    </ul>
  </div>
</nav>
<script>
  function responsiveMenu() {
    var x = document.getElementById("navigation");
    if (x.className === "navigation") {
      x.className += " responsive";
    } else {
      x.className = "navigation";
    }
  }
</script>

</html>