<!DOCTYPE html>
<html>

<head>
  <style>
    html,
    body {
      height: 100%;
    }

    body {
      margin: 0;

      font-family: sans-serif;
      font-weight: 100;
    }

    .startup-tbl {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    table {

      width: 90vw;
      border-collapse: collapse;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }

    th,
    td {
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.2);
      color: black;
    }

    th {
      text-align: left;
    }

    thead th {
      background-color: #55608f;
    }

    tbody tr:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    tbody td {
      position: relative;
    }

    tr,
    td,
    th {
      align-items: center;
    }

    tbody td:hover:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -9999px;
      bottom: -9999px;
      background-color: rgba(182, 111, 111, 0.2);
      z-index: -1;
    }

    .button-88 {
      display: flex;
      align-items: center;
      font-family: inherit;
      font-weight: 500;
      font-size: 16px;
      padding: 0.7em 1.4em 0.7em 1.1em;
      color: white;
      background: #ad5389;
      background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
      border: none;
      box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
      letter-spacing: 0.05em;
      border-radius: 20em;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    a {
      text-decoration: none;
    }

    .button-88:hover {
      box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
    }

    .button-88:active {
      box-shadow: 0 0.3em 1em -0.5em #14a73e98;
    }
  </style>
</head>
<div class="startup-tbl">
<<<<<<< HEAD:Startup/startup.html
  <table>
    <thead>
      <tr>
        <th>Organization</th>
        <th>Website</th>
        <th>Decision</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bol">
          <p>Sanfoundry</p>
        </td>
        <td><a href="#">Link</a></td>
        <td><button class="button-88">Invest</button></td>

      </tr>
      <tr>

        <td class="bol">
          <p>Sanfoundry</p>
        </td>
        <td><a href="#">Link</a></td>
        <td><button class="button-88">Invest</button></td>

      </tr>
      <tr>

        <td class="bol">
          <p>Sanfoundry</p>
        </td>
        <td><a href="#">Link</a></td>
        <td><button class="button-88">Invest</button></td>

      </tr>
      <tr>

        <td class="bol">
          <p>Sanfoundry</p>
        </td>
        <td><a href="#">Link</a></td>
        <td><button class="button-88">Invest</button></td>

      </tr>
      <tr>
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>

      </tr>
    </tbody>
  </table>
</div>

</html>

<body>

=======
	<table>
		<thead>
			<tr>
				<th>Organization</th>
				<th>Website</th>
				<th>Decision</th>
				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="bol"><p>Sanfoundry</p></td>
				<td><a href="#">Link</a></td>
				<td><form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JlrU4OdKDmlhio" async> </script> </form></td>
				
			</tr>
			<tr>
				
				<td class="bol"><p>Sanfoundry</p></td>
				<td><a href="#">Link</a></td>
				<td><form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JlrU4OdKDmlhio" async> </script> </form></td>
				
			</tr>
			<tr>
				
				<td class="bol"><p>Sanfoundry</p></td>
				<td><a href="#">Link</a></td>
				<td><form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JlrU4OdKDmlhio" async> </script> </form></td>
				
			</tr>
			<tr>
				
				<td class="bol"><p>Sanfoundry</p></td>
				<td><a href="#">Link</a></td>
        <td><form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JlrU4OdKDmlhio" async> </script> </form></td>

				
			</tr>
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				
			</tr>
		</tbody>
	</table>
</div></html><body>
    
>>>>>>> 90fd5bd278dc95faab04617d3e7677173e76a12a:views/pages/startup.ejs
</body>